{
  "version": 1.0,
  "project": "DTS-${repo}",
  "team": "/CxServer/Zions",
  "sast":
  {
    "folderExcludes": "graphviz",
    "forceScan": true
  },
  "additionalProperties":
  {
    "cxFlow": {
      "branches": [
        "master"
      ],
      "filters": {
        "severity": [
          "High"
        ]
      },
      "thresholds": {
        "HIGH": "1000"
      }
    }
  }  
}