<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.codehaus.groovy.eclipse.groovyConsoleLaunchConfiguration">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-vsts-cli/src/main/groovy/com/zions/vsts/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.vsts.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="migrateWIT --tfs.source.url=https://dev.azure.com/eto-dev  --tfs.source.user=z091182 --tfs.source.token=&quot;pzyybyd3zq5kzbdpkn4e656i6d3b7zfe43tms5s3v35gsifdngoq&quot; --tfs.source.project=&quot;FutureCore&quot; --tfs.workitem.names=&quot;Feature Requirement,Functional Requirement,Non Functional Requirement&quot; --tfs.target.url=https://dev.azure.com/ericamundson2  --tfs.target.user=z091182 --tfs.target.token=&quot;xwkt3pm7ga3yl47q4tqiyrswcegxuxmdbncrxo57epx77ivm5rza&quot; --tfs.target.project=&quot;FutureCore&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-vsts-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dproxy.Host=172.18.4.115 -Dproxy.Port=8080 -Dproxy.User=z091182 -Dproxy.Password=4878Middy"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-vsts-services}"/>
</launchConfiguration>
