<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-pipeline-cli/src/main/groovy/com/zions/pipeline/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.pipeline.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="remotePipelineBuilder --win.repo.location=&quot;D:\\app\\azure\\agents\\eto-dev\\A1\\_work\\3\\s&quot; --pipeline.id=&quot;DTS_1236&quot; --blueprint.repo.url=&quot;https://dev.azure.com/eto-dev/DTS/_git/zions-blueprints&quot; --blueprint=&quot;repo&quot; --blueprint.folder.name=&quot;provisioning&quot; --out.repo.url=&quot;https://eto-dev@dev.azure.com/eto-dev/DTS/_git/devops&quot; --repo.target.branch=refs/heads/master --out.dir.name=&quot;ericui2&quot; --input.answers=&quot;ProjectName: DTS&amp;&amp;RepoName: ericui6&amp;&amp;BaseADO: true&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-pipeline-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=xlrdbtest"/>
</launchConfiguration>
