<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateTestLinkToADO  --tfs.url=https://dev.azure.com/eto-dev --tfs.user=z091182   --qm.template.dir=&quot;d:\qm_templates&quot; --test.mapping.file=&quot;./NORKOMTLMapping.xml&quot; --tfs.project=&quot;TestLink&quot; --process.name=&quot;ZionsAgile&quot; --include.update=phases --include.phases=executions --tl.query=&quot;none&quot; --tl.filter=tlAllFilter --tfs.areapath=&quot;TestLink\NORKOM&quot; --cache.location=d:\obtestcache&#13;&#10;--testlink.projectName=Norkom --ext.url=https://extmgmt.dev.azure.com/eto-dev --ext.collection=eto-dev"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=tldb"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
