<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateRTCWorkToVSTSWork --clm.url=https://clm.cs.zionsbank.com --clm.user=z091182 --clm.password=&quot;4878Middy003&quot; --tfs.url=https://dev.azure.com/eto-dev --tfs.user=z091182 --tfs.token=nne526gq4vgseefkdn25v4cw2pm74qsacn2ylkhlqjltrd4oalvq --clm.projectArea=&quot;Zions FutureCore Program (Change Management)&quot; --ccm.template.dir=&quot;D:\core_wit_templates&quot; --wit.mapping.file=&quot;./CoreCCMMapping.xml&quot; --tfs.project=&quot;BaNCS&quot; --process.name=&quot;DTSTest&quot; --include.update=phases --include.phases=workdata --wi.query=none --wi.filter=allFilter --cache.location=d:/futurecore_cache --selected.checkpoint=update --tfs.areapath=&quot;BaNCS&quot; --clm.query.names=&quot;R3 Migration Anomaly Query,R3 Migration Task Query,R3 Migration Decision Query&quot; --spring.data.mongodb.database=adomigration_test --db.project=coredev"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=clmdb"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
