<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateJamaModulesToADO&#13;&#10;--include.update=phases&#13;&#10;--jama.url=https://zionsbancorp.jamacloud.com &#13;&#10;--jama.user=z097331&#13;&#10;--jama.password=Asc3ndant&#13;&#10;--jama.projectid=26316&#13;&#10;--tfs.url=https://dev.azure.com/eto-dev &#13;&#10;--tfs.user=robert.huet@zionsbancorp.com&#13;&#10;--tfs.token=eentirdhvbeikwxskkm7op34lgedbqhq3gua45dgffr4btbn7alq&#13;&#10;--tfs.project='FutureCore'&#13;&#10;--tfs.collection=eto-dev&#13;&#10;--tfs.projectUri=NA&#13;&#10;--mr.url=NA&#13;&#10;--rm.mapping.file=./CoreRRMMapping.xml&#13;&#10;--spring.main.allow-bean-definition-overriding=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=jama -Dproxy.Host=172.18.4.116  -Dproxy.Port=8080 -Dproxy.User=z097331 -Dproxy.Password=februar1L!berty"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
