<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateRQMToMTM --clm.url=https://clm.cs.zionsbank.com --clm.user=z091182  --tfs.url=https://dev.azure.com/zionseto --tfs.user=z091182  --clm.projectArea=&quot;_HpujEEFoEeeZxOpYMZMVoQ&quot; --qm.template.dir=&quot;d:\qm_templates&quot; --test.mapping.file=&quot;./ExceptionsSystemsRQMMapping.xml&quot; --tfs.project=&quot;LegacyTools&quot; --process.name=&quot;ZionsAgile&quot; --include.update=phases --include.phases=testcase,plans,links,executions,qmAttachments --qm.query=none --qm.filter=QmAllFilter --tfs.areapath=&quot;LegacyTools\CLM\RQM\ExceptionsSystems&quot; --cache.location=d:/exceptionssystems_cache_prod --selected.checkpoint=none  --qm.tc.query=&quot;none&quot; --ext.url=https://extmgmt.dev.azure.com/zionseto"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=qm"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
