<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateRTCWorkToVSTSWork --clm.url=https://clm.cs.zionsbank.com --clm.user=z091182 --clm.password=&quot;4878Middy001&quot; --tfs.url=https://zionseto.visualstudio.com --tfs.user=z091182 --tfs.token=5ygjaomvtrq6jgtxyrbpqsvahj2kuzzq6tjxgllrc76j7cbwzp4a --clm.projectArea=&quot;Mobile Banking (Change Management)&quot; --ccm.template.dir=&quot;d:\mb_wit_templates&quot; --wit.mapping.file=&quot;./MBWITMappingZionseto.xml&quot; --tfs.project=&quot;DigitalBanking&quot; --process.name=&quot;DTSTest&quot; --include.update=workdata --wi.query=&quot;workitem/workItem[projectArea/name='Mobile Banking (Change Management)']/(id|modified|state/group|target/name|target/archived|type/name|category/name|related/state/group|related/type/name|related/category/name|parent/state/group|parent/type/name|parent/category/name)&quot; --wi.filter=mbFilter  --cache.location=d:/zionsetombcache"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=clm -Dproxy.Host=172.18.4.115  -Dproxy.Port=8080 -Dproxy.User=z091182 -Dproxy.Password=4878Middy001"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
