<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-vsts-cli/src/main/groovy/com/zions/vsts/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.vsts.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="listTestRunsForTestPlan&#13;&#10;--tfs.url=https://dev.azure.com&#13;&#10;--tfs.cloneSrcProjectName=&quot;VoiceApplications&quot;&#13;&#10;--tfs.cloneDestPlanName=DTS&#13;&#10;--tfs.collection=zionseto&#13;&#10;--tfs.cloneTestPlanIds=1405388&#13;&#10;--tfs.runID=1318630&#13;&#10;--tfs.srcTestPlanID=1405388&#13;&#10;--tfs.targetTestPlanID=360977&#13;&#10;--tfs.targetProject=Sandbox&#13;&#10;--tfs.user=&quot;Michael.Angelastro@zionsbancorp.com&quot;&#13;&#10;--tfs.token=ml7fwu4hmczrcx66ag3tlvvyne5g5lgbq53wwaguarsv2fty2fha&#13;&#10;--out.file=d:\dpsGroup4071421.json&#13;&#10;--tfs.project=&quot;VoiceApplications&quot;&#13;&#10;--tfs.cloneDestProjectName=&quot;VoiceApplications&quot;&#13;&#10;--tfs.bancsTestPoints=1343034&#13;&#10;--tfs.bancsTesters=&quot;Mehak Ghuman&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-vsts-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=test -Dproxy.Host=172.18.4.115  -Dproxy.Port=8080 -Dproxy.User= -Dproxy.Password="/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-vsts-cli}"/>
</launchConfiguration>
