<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-pipeline-cli/src/main/groovy/com/zions/pipeline/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.pipeline.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="uobDeployableCheck &#13;&#10;--scan.dir=&quot;C:\uob\drop&quot; &#13;&#10;--out.dir=&quot;D:\git\uob\xl\build\packages&quot; &#13;&#10;--xld.url=https://xldeploy.cs.zionsbank.com --xl.user=z091182 --xl.password=4878Middy008&#13;&#10;--xlw.location=&quot;D:\git\uob\xl&quot; &#13;&#10;--file.filter=&quot;^ZIONS_[\d]+[\.][\d]+[\.][\d]+[\.][\d]+[\.][\d]+[\.][\d]+-(dms).zip$&quot; &#13;&#10;--version.regex=&quot;[\d]+[\.][\d]+[\.][\d]+[\.][\d]+[\.][\d]+[\.][\d]+&quot; &#13;&#10;--file.count=2 &#13;&#10;--package.yaml.path=&quot;D:\git\uob\xl\xebialabs\xld-package-template.tyaml&quot; &#13;&#10;--xld.application.name=&quot;Applications/UOB/UOB_Deploy&quot;&#13;&#10;--xld.application.shortname=UOB&#13;&#10;--nexus.scan=true&#13;&#10;--override.xl.load.dir=true&#13;&#10;--create.release.flag=false&#13;&#10;--xld.use.proxy=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-pipeline-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=xlrdb"/>
</launchConfiguration>
