<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-ext-cli/src/main/groovy/com/zions/ext/services/cli/CliApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.ext.services.cli.CliApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="translateJamaModulesToADO&#13;&#10;--include.update=phases&#13;&#10;--jama.url=https://zionsbancorp.jamacloud.com &#13;&#10;--jama.user=z097331&#13;&#10;--jama.password=Asc3ndant&#13;&#10;--jama.inputFile=C:/jama_input.txt&#13;&#10;--tfs.url=https://dev.azure.com&#13;&#10; &#13;&#10;--mr.folder=&quot;/Jama&quot;&#13;&#10;--tfs.projectUri={0bb37e26-5204-4c40-a620-c407d96816aa}&#13;&#10;--tfs.teamGuid=62f352dc-a0ac-44eb-a4a9-3b517927e540&#13;&#10;--tfs.collectionId=931ea459-abea-43db-9aed-eb489dee1e5e&#13;&#10;--tfs.areapath=&quot;Jama&quot;&#13;&#10;--rm.mapping.file=./JamaMapping.xml&#13;&#10;--db.project=jama&#13;&#10;--spring.data.mongodb.database=adomigration_prod&#13;&#10;--spring.main.allow-bean-definition-overriding=true&#13;&#10; --logging.level.root=INFO&#13;&#10; --logging.file=&quot;c:\\adomigration_prod\\jama.log&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-ext-cli"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=jama   "/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
