<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-web-automation/src/main/groovy/com/zions/webbot/cli/WebRunnerApp.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.webbot.cli.WebRunnerApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="setMrPermissions&#13;&#10;--tfs.url=https://dev.azure.com&#13;&#10;--tfs.project=ALMOpsTest&#13;&#10;--tfs.collection=eto-dev&#13;&#10;--mr.url=https://dev.azure.com/eto-dev/#project#/_settings/edevtech-mr.iGVSO-OnPrem-SandBox-002.project-level-admin-hub&#13;&#10;--sel.timeout.sec=90&#13;&#10;--logging.level.root=INFO&#13;&#10;--logging.file=&quot;c:/logs/MrPermissions-test.log&quot;&#13;&#10;--cache.dir=c:/ModernRequirementsPermissions/Test/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-web-automation"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=mrauto"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:zions-ext-cli}"/>
</launchConfiguration>
