<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zions-blueprint-microservice/src/main/groovy/com/zions/content/services/ContentApplication.groovy"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.zions.content.services.ContentApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--server.port=8090"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zions-blueprint-microservice"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dwsproxy.Host=172.18.4.115 -Dwsproxy.Port=8080"/>
</launchConfiguration>
