<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value="\\utmsa026\apps\1808\ZeusUT\Zeus\BinRel\vsoftbin\TellerCapture.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>