executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: git.pullrequest.created
  consumerUrl: https://releaseengineeringprovisionerprod-zionsbancorporation.msappproxy.net
  publisherInputs:
    repository: ""
    branch: ""
    pullrequestCreatedBy: ""
    pullrequestReviewersContains: ""
    projectId: null 
