executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: workitem.updated
  consumerUrl: https://releaseengineeringprovisioner-zionsbancorporation.msappproxy.net
  consumerUserName: svc-cloud-vsbuildagent
  consumerPassword: !value "ado_webhookPassword"
  publisherInputs:
    areaPath: ""
    workItemType: ""
    changedFields: ""
    projectId: null