executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: git.pullrequest.updated
  consumerUrl: https://releaseengineeringprovisioner-zionsbancorporation.msappproxy.net
  consumerUserName: svc-cloud-vsbuildagent
  consumerPassword: !value "ado_webhookPassword"
  publisherInputs:
    repository: ""
    branch: ""
    notificationType: ""
    pullrequestCreatedBy: ""
    projectId: null