executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: workitem.created
  consumerUrl: https://releaseengineeringprovisionerprod-zionsbancorporation.msappproxy.net
  publisherInputs:
    areaPath: ""
    workItemType: ""
    projectId: null