executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: git.push
  consumerUrl: https://releaseengineeringprovisionerprod-zionsbancorporation.msappproxy.net
  publisherInputs:
    repository: ""
    branch: ""
    pushedBy: ""
    projectId: null 