executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: build.complete
  consumerUrl: https://releaseengineeringprovisioner-zionsbancorporation.msappproxy.net
  publisherInputs:
    definitionName: ""
    buildStatus: ""
    projectId: null