executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: workitem.updated
  consumerUrl: https://releaseengineeringprovisioner-zionsbancorporation.msappproxy.net
  publisherInputs:
    areaPath: ""
    workItemType: ""
    changedFields: ""
    projectId: null