executables:
- type: webHookSubscriptions
  context: eto-dev
  projects: ReleaseEngineering
  eventTypes: ms.vss-pipelines.run-state-changed-event
  consumerUrl: https://releaseengineeringprovisionerprod-zionsbancorporation.msappproxy.net
  publisherInputs:
    pipelineId: ""
    runStateId: ""
    runResultId: ""
    projectId: null