{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/DTS
  type: core.Directory
  children:
  - name: {{$app}}
    type: udm.Application
    children:
    - name: !value "app_version"
      type: udm.DeploymentPackage
      deployables:
      {{if .UseQueue}}
      - name: {{$app}}-queuing.xml
        type: file.File
        scanPlaceholders: true
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../service/queue.xml"
      - name: zions-queuing-microservice-hold.jar
        type: file.File
        scanPlaceholders: false
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../../../zions-queuing-microservice/build/libs/zions-queuing-microservice.jar"
      - name: {{$app}}-queuing.exe.config
        type: file.File
        scanPlaceholders: false
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../service/queue.exe.config"
      - name: run queuing install
        type: advcmd.Command
        command: |-
          copy /Y [[deploy.path]]\..\WinSW.NET4 [[deploy.path]]\{{$app}}-queuing.exe
          [[deploy.path]]\{{$app}}-queuing.exe install
          [[deploy.path]]\{{$app}}-queuing.exe stop
          copy /Y [[deploy.path]]\zions-queuing-microservice-hold.jar [[deploy.path]]\zions-queuing-microservice.jar
          [[deploy.path]]\{{$app}}-queuing.exe start
        createOrder: "61"
        destroyOrder: "41"
        alwaysRun: "true"
        noopOrder: "61"
        undoCommand: 'echo "No action needed for undoCommand"'
      {{end}}
      - name: {{$app}}.xml
        type: file.File
        scanPlaceholders: true
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../service/service.xml"
      - name: {{$app}}-hold.jar
        type: file.File
        scanPlaceholders: false
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../../build/libs/{{$app}}.jar"
      - name: {{$app}}.exe.config
        type: file.File
        scanPlaceholders: false
        targetPath: '[[deploy.path]]'
        createTargetPath: "true"
        file: !file "../service/service.exe.config"
      - name: run install
        type: advcmd.Command
        command: |-
          copy /Y [[deploy.path]]\..\WinSW.NET4 [[deploy.path]]\{{$app}}.exe
          [[deploy.path]]\{{$app}}.exe install
          [[deploy.path]]\{{$app}}.exe stop
          copy /Y [[deploy.path]]\{{$app}}-hold.jar [[deploy.path]]\{{$app}}.jar
          [[deploy.path]]\{{$app}}.exe start
          
        createOrder: "62"
        destroyOrder: "42"
        alwaysRun: "true"
        noopOrder: "62"
        undoCommand: 'echo "No action needed for undoCommand"'
        
        
