{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: DTS/{{$app}}
  type: core.Directory
  children:
  {{if .DeployDev}}
  - name: Dev
    type: udm.Environment
    members:
    - DTS/micro-service/Dev
    dictionaries:
    - DTS/{{$app}}/_Dictionaries/Dev_Dict
  {{end}}
  - name: Prod
    type: udm.Environment
    members:
    - DTS/micro-service/Prod
    dictionaries:
    - DTS/{{$app}}/_Dictionaries/Prod_dict
  - directory: _Dictionaries
    children:
    {{if .DeployDev}}
    - name: Dev_Dict
      type: udm.Dictionary
      entries:
        deploy.dir: d:/app/azure/services/{{$app}}
        ws.url: {{.DevWSUrl}}
        tfs.url: https://dev.azure.com/eto-dev
    {{end}}
    - name: Prod_Dict
      type: udm.Dictionary
      entries:
        deploy.dir: d:/app/azure/services/{{$app}}
        ws.url: {{.ProdWSUrl}}
        tfs.url: https://dev.azure.com/zionseto
---

apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
- name: DTS/micro-service
  type: core.Directory
  children:
  - name: Dev
    type: overthere.CifsHost
    address: UTMVPI0192
    username: svc-vsbuildagent@zbc.internal
    password: !value "svc_account_passwd"
  - name: Prod
    type: overthere.CifsHost
    address: UTMVPI0144
    username: svc-vsbuildagent@zbc.internal
    password: !value "svc_account_passwd"
    