{{$app := .AppName | kebabcase}}
apiVersion: xl-deploy/v1
kind: Applications
spec:
- name: Applications/DTS
  type: core.Directory
  children:
  - name: {{$app}}
    type: udm.Application
    children:
    - name: !value "app_version"
      type: udm.DeploymentPackage
      deployables:
      - name: {{$app}}.service
        type: file.File
        scanPlaceholders: true
        targetPath: '{{"{{stage.path}}"}}'
        createTargetPath: "true"
        file: !file "../service/microservice.service"
      - name: {{$app}}-hold.jar
        type: file.File
        scanPlaceholders: false
        targetPath: '{{"{{stage.path}}"}}'
        createTargetPath: "true"
        file: !file "../../build/libs/{{$app}}.jar"
      - name: run install
        type: advcmd.Command
        command: |-
          mkdir -p {{"{{deploy.path}}"}}
          systemctl stop {{$app}}.service
          cp -f {{"{{stage.path}}"}}/{{$app}}.service /etc/systemd/system
          cp -f {{"{{stage.path}}"}}/{{$app}}-hold.jar {{"{{deploy.path}}"}}/{{$app}}.jar
          systemctl daemon-reload
          systemctl start {{$app}}.service          
        createOrder: "62"
        destroyOrder: "42"
        alwaysRun: "true"
        noopOrder: "62"
        undoCommand: 'echo "No action needed for undoCommand"'
        
        
