{{$app := .AppName | kebabcase}}
---
apiVersion: xl-deploy/v1
kind: Environments
spec:
- name: Environments/DTS
  type: core.Directory
  children:
  - directory: {{$app}}
    children:
    {{if .DeployDev}}
    - name: Dev
      type: udm.Environment
      members:
      - Infrastructure/DTS/microservice/Dev
      dictionaries:
      - Environments/DTS/{{$app}}/_Dictionaries/Dev_Dict
    {{end}}
    - name: Prod
      type: udm.Environment
      members:
      - Infrastructure/DTS/microservice/Prod
      dictionaries:
      - Environments/DTS/{{$app}}/_Dictionaries/Prod_Dict
    - directory: _Dictionaries
      children:
      {{if .DeployDev}}
      - name: Dev_Dict
        type: udm.Dictionary
        entries:
          deploy.dir: d:/app/azure/services/{{$app}}
          ws.url: {{.DevWSUrl}}
          tfs.url: https://dev.azure.com/eto-dev
      {{end}}
      - name: Prod_Dict
        type: udm.Dictionary
        entries:
          deploy.dir: d:/app/azure/services/{{$app}}
          ws.url: {{.ProdWSUrl}}
          tfs.url: https://dev.azure.com/zionseto
    