{{$app := .AppName | kebabcase}}
---
apiVersion: xl-release/v1
kind: Release
spec:
  name: !format "{{$app}} %app_version%"
  template: !format DTS/{{$app}} - Master
  variables:
    deploymentPackage.name: !value "app_version"
 