[Unit]
Description=zions-pipeline-execution-microservice-queuing

[Service]
WorkingDirectory=[[deploy.path]]
ExecStart=/bin/java -Xrs -X512mxm -jar "[[deploy.path]]/zions-queuing-microservice.jar" --routing.exchange.name=<no value>  --routing.direct.key=<no value> --ado.topics=git.pullrequest.merged --websocket.url=[[ws.url]] --logging.file="[[deploy.path]]/zions-pipeline-execution-microservice-queuing.log"
User=jvmapps
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target