{{$app := .AppName }}
executables:
- name: {{$app}}-release
  type: buildDefinition
  context: zionseto
  project: DTS
  repository: zions-service-framework
  buildyaml: {{$app}}/pipeline/ado/microservice-release.yaml
