[Unit]
Description={{$app}}

[Service]
WorkingDirectory={{"{{deploy.path}}"}}
{{if .RequiresCollection}}
ExecStart=/bin/java -Xrs -Xmx256m -jar "{{"{{deploy.path}}"}}/{{$app}}.jar" --queue.name={{.Queuename}} --ado.topics={{.WSTopics}} --tfs.collection={{"{{tfs.collection}}"}} --tfs.url=https://dev.azure.com --logging.file="{{"{{deploy.path}}"}}/{{$app}}.log"
{{else}}
ExecStart=/bin/java -Xrs -Xmx256m -jar "{{"{{deploy.path}}"}}/{{$app}}.jar" --queue.name={{.Queuename}} --ado.topics={{.WSTopics}} --tfs.url={{"{{tfs.url}}"}} --logging.file="{{"{{deploy.path}}"}}/{{$app}}.log"
{{end}}
User=jvmapps
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target