[Unit]
Description={{$app}}-queuing

[Service]
WorkingDirectory=[[deploy.path]]
ExecStart=/bin/java -Xrs -X512mxm -jar "[[deploy.path]]/zions-queuing-microservice.jar" --routing.exchange.name={{.Exchangename}}  --routing.direct.key={{.Keyname}} --ado.topics={{.WSTopics}} --websocket.url=[[ws.url]] --logging.file="[[deploy.path]]/{{$app}}-queuing.log"
User=jvmapps
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target